body {
  font-family: Arial, sans-serif;
  background-color: #001219;
  color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between; /* Se aplica ao eixo horizontal (normalmente é o padrão) */
  align-items: center; /* Se aplica ao eixo cruzado (vertical) */
  background-color: #001219;
  padding: 15px 40px;
}

.right-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .logo {
  color: white;
  font-size: 24px;
  margin: 0;
}

/* MENU E ITENS */
.menu {
  display: flex;
  gap: 15px;
}

.menu-item {
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* LINK COM CLASSE GENÉRICA DE ANIMAÇÃO */
.menu-item a {
  font-weight: bold;
  color: #cccccc;
  text-decoration: none;
  transition: color 0.7s ease;
  position: relative;
  display: inline-block;
  line-height: 1;
}

/* OPÇÃO DESTACADA */
.destaque {
  background-color: #e50914;
}

/* RESPONSIVIDADE BÁSICA */
@media (max-width: 768px) {
  header {
    flex-direction: column;  /* empilha logo e menu */
    text-align: center;
    padding: 20px;
  }

  .right-group {
    flex-direction: column; /* menu e login um abaixo do outro */
    gap: 10px;
  }

  .menu {
    flex-direction: column; /* menu vertical */
    gap: 10px;
  }

  .menu-item {
    padding: 8px 16px;
  }
}
